html, body {
  height: 100%;
}

body{  
  background-color:white;
  color:black;
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  box-shadow:none;
  border:0px!important;
 }

#theHeader div.banner, #theHeader div.banner:hover{
  color:black;
  text-shadow:none;
}

#copyright{
  display:inline-block;
  color:#666;
  font-size:12px;
  padding:15px 0;
  margin-top: auto;
  margin-bottom:0;
  width:100%;
  background-color: #f2f2f2;
}

#copyright A:hover{
  color:#FF2F63;
  font-weight:normal;
}

#copyright A{
  color:black;
}

.infos{
  background:#096a09 url(/themes/default/icon/infos.png) no-repeat center right;
  color:black;
  margin:0;
}

.infos ul{
  padding-left:6px;
}

.errors{
  border:none; 
  background:#ffe1e1 url(/themes/default/icon/errors.png) no-repeat center right;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  font-weight:normal;
}
  
h2{
  color:black;
  background_color:white;
  padding:2px 5px 0px 0px;
  font-size:17px;
}

.albLegend {
  color:white;
  height:45px;
  font-weight: normal;
  padding:5px 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

#mbCategories .albSymbol{
  padding:5px;
  color:#FF2F63;
}

.albSymbol{
  padding:5px;
  color:black;
}

.albLegendRight .albSymbol{
  color:white;
}

H3, label{
  color:#8e8e93;
}

A{
  color:#FF2F63;
}

a:hover{
  text-decoration:none;
  font-weight:normal;
  color:#FF2F63;
}

#menubar{
  background-image:none;
  background-color:#FF2F63;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left:16px;
  font-weight:normal;
  width:auto;
  border-radius:0px;  
}

#menubar UL{
  border-radius:5px;
}

#menubar dt A:hover{
  font-weight:normal;
  color:white;
  text-shadow:none;
  text-shadow:0px 0px 10px black;
}

#menubar dt A{
  font-weight:normal;
  color:black;
}
  
#menubar DT, #menubar DT A{
  padding-right:1.25em;
}

#menubar dl:last-child dd{
  display:none;
}

#comentAdd INPUT[type="text"], INPUT[type="password"], #comentAdd SELECT, #comentAdd TEXTAREA, #comments input[type="text"], #comments TEXTAREA{
  border-color:transparent;
  background-color:#f2f2f2;
  color:black;
  font-family:'Open Sans', sans-serif;
  padding:10px;
  margin: 10px 0;
  cursor:pointer
}

::placeholder, #commentAdd ::placeholder {
  color:#717175;
}

INPUT:focus,TEXTAREA:focus{
  outline:none;
  box-shadow:none;
  cursor:pointer
}

#qsearchInput{
  padding:5px !important;
  margin:0;
  background-color:#e8e8ea !important;
  border:none;
  font-weight:normal;
  cursor:pointer
}

#qsearchInput:placeholder{
  color:#717175;
}

.filter input[name="search_allwords"]{
  margin-bottom:10px;
  padding:10px !important;
  cursor:pointer
}

.search_results a, .search_results a:hover{
  font-weight:normal;
  color:#FF2F63;
}

.selectize-control.multi .selectize-input [data-value].active, .selectize-control.multi .selectize-input > div{
  background-image:none !important;
  background-color:#777 !important;
  /*color:#ddd;*/
  border:0;
  box-shadow:none;
  cursor:pointer
}

.selectize-control .plugin-remove_button [data-value] .remove{
  border-left-color:#333333;
}

#menubar DD{
  background-color:#e8e8ea;
  color:black;
  box-shadow:none;
  border-radius:5px;
}

#menubar DD A:hover{
  color:#FF2F63;
  font-size:15px;
  font-weight:normal;
}

#menubar DD A{
  color:black;
  font-weight:normal;
  font-size:15px;
}

#menubar INPUT{
  background-image:none;
  font-family: 'Open Sans', sans-serif;
  background-color:#ff96af!important;
  border-radius:5px;
  cursor:pointer;
}



INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"], INPUT[type="button"]:hover, INPUT[type="submit"]:hover, INPUT[type="reset"]:hover{
  box-shadow:none;
  border:0;
  border-radius:5px;
  padding: 10px 20px;
  color: white;
  text-shadow:0px 0px 10px black;
  margin-top: 10px;
  background-color:#FF2F63;
  cursor:pointer;
}
  
.contact INPUT[type="submit"]{
  margin-right:5px;
}

.wide #imageToolBar{
  background-color:white;
  padding:15px 5px 10px 5px;
}

#imageToolBar{
  padding:10px 6px;
  background-color:white;
}

.imageInfoTable{
  font-family: 'Open Sans', sans-serif;
}

.switchBox{
  background-color:#e8e8ea!important;
  box-shadow:none;
  border-radius:5px;
}

switchCheck {
  color:#FF2F63;
}

li, #mbCategories UL{
  list-style-type:none;
  padding-left:0;
}

#mbCategories dd ul li span:nth-child(even){
  margin-left: 5px;
  background-color: #FF2F63;
  padding: 2px 7px;
  border-radius: 20px;
  color: white;
  color:#e8e8ea;
  font-size: 12px;
  font-weight:normal;
  text-shadow:0px 0px 10px black;
}

#menubar li, #mbCategories p{
  padding:5px;
}

#menubar LI.selected>A{
  font-weight: normal;
  text-decoration: none;
  color:#FF2F63;
}

#mbSpecials li{
  font-size:0;
}

#menubar DL{
  margin:0;
  padding-top:2px;
  padding-left:0;
}

.wide .imageInfoTable, .wide #imageInfos{
  background-color:#f2f2f2;
  border-radius: 5px;
  padding:0px;
}

.wide #imageInfos{
  padding:20px;
}

.imageInfoTable h3{
  margin-top:0;
  padding-top:1em;
  color:black;
}

.imageInfoTable a, .imageInfoTable a:hover{
  color:#FF2F63;
}

.wide .imageInfoTable, .wide #imageInfos h3{
  color:black;
}

.wide #imageInfos a, .wide #imageInfos a:hover {
  color:#FF2F63;
  font-weight:normal;
}

.wide .imageInfo DT{
  font-weight:bold;
  color:#8e8e93;
}

#imageInfos{
  background-color:#f2f2f2;
  color:black;
  padding-bottom:15px;
}

#imageHeaderBar .imageNumber{
  color:black;
}

A .pwg-icon,A .pwg-icon:hover {
  color:#FF2F63;
}

.pwg-icon{
  font-size:17px;
}
.pwg-state-disabled .pwg-icon{
  color:#8e8e93;
}

.pwg-state-default pwg-button{
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
}

#commentAdd{
  padding:0px;
}

#quickconnect fieldset{
  margin:0;
  padding:0;
  margin-top:10px;
}

fieldset{
  border:none;
  margin-bottom:0;
}

fieldset h3, fieldset label {
  color:black;
}



/*#quickconnect input:focus,*/ #quickconnect input, .properties input, /*.properties input:focus*/ {
  border-color:transparent;
  padding: 10px;
  color:black;
  border:0px;
  box-shadow:none;
  cursor:pointer
  /*background-color:#e8e8ea!important;*/
}

/*.properties input, .properties input:focus {
  background-color:#f2f2f2;
  color:black;
  margin:0;
}*/

properties

fieldset legend{
  color:black;
  font-weight:normal;
}

.properties li{
  line-height:30px;
  margin:15px 0;
}

.properties P{
  margin-top:0;
  margin-bottom:50px;
}

dt, dd{
  color:black;
}

.titrePage{
  background-color:white;
  color:black;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:16px;
  height:auto;
  background-image:none;
}

#imageHeaderBar H2{
  color:black;
  text-shadow:none;
}

.titrePage H2 A:hover {
  color:#FF2F63;
}

.titrePage H2 A {
  color:black;
}

.titrePage H2 span.badge::before {
  content:'';
}
.titrePage H2 span.badge::after {
  content:'';
}
.titrePage H2 span.badge {
  margin-left: 5px;
  background-color: #ff2f63;
  padding: 2px 7px;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.titrePage A, .titrePage A:hover{
  color:#FF2F63;
  font-weight:normal;
}

.titrePage .switchBox{
  color:#FF2F63;
  padding:10px;
}

.titrePage .switchBox A{
  color:black;
}

.titrePage .switchBox A:hover{
  color:#FF2F63;
}

.browsePath{
  color:black;
}

#thePicturePage .titrePage{
 background-color: #f2f2f2;
}

#thePicturePage .titrePage h2,  #thePicturePage .browsePath{
  color:black;
}

#thePicturePage .titrePage A{
  color:black;
}

#thePicturePage .titrePage A:hover{
  color:#FF2F63;
}

#thePicturePage #comments{
  margin:45px;
  padding:0;
}

#thePicturePage #pictureCommentList{
  width: 49%;
  float:right; 
  padding-top:15px;
}

.overDesc{
  color:black;
  text-shadow:none;
  background-color: rgba(232, 232, 234,0.8);
  padding:5px;
  font-size:14.5px;
  font-weight:normal;
}

#derivativeSwitchBox{
  padding:20px;
  border-radius:5px;
}

#derivativeSwitchBox A{
  color:black;
  padding:5px;
  display:inline-block;
  font-weight:normal;
}

#thePicturePage #derivativeSwitchBox A:last-child{
  padding:15px 10px;
}
  
#sortOrderBox{
  min-width:190px;
  padding:20px;
  border-radius:5px;
}

#sortOrderBox span, #sortOrderBox a{
  padding:5px;
  display:inline-block;
}

#derivativeSwitchBox span{
  display:inline-block;
  padding:5px;
}

.switchCheck{
  color:#FF2F63;
}

.derivativeSizeDetails{
  color:#8e8e93;
}

.switchBoxTitle{
  border-bottom: solid 2px #bfbfc2;
  color:black;
}

.switchBox{
  padding:20px;
}

#profile, #profile fieldset h3, #profile fieldset label  {
  color:black;
}

#comments input[type='text'], #comments textarea{
  background-color:#e8e8ea;
  color:black;
  border:none;
  padding:10px;
  cursor:pointer
}

.imageInfoTable ul{
  padding:0;
}


#thumbnails{
  margin-left:0 !important; 
}

#thumbnails>li, .albThumbs>li, .navThumb img {
  border-radius:5px;
  overflow:hidden;
}


#menubar dt a:first-child, #menubar dt a:last-child{
  padding-right:0;
}

#comments{
  padding-left:15px;
  padding-top:15px;
}



.properties fieldset span label{
  color:black;
}

.imageInfo DT{
  font-size:15px;
  color:#8e8e93;
}

.commentsList{
  color:black;  
}

.commentsList a{
  color:#FF2F63;
}

.commentElement{
  border-radius:5px;
  margin:15px 0;
  background-color:#e7e7e7;
  clear:both;
  padding:20px;
  width:auto;
}

.description{
  padding:0;
}

.albLegend H4{
  font-weight:normal;
  font-size:15px;
  margin-bottom:0;
  margin-top:5px;
}

.login{
  width:200px;
}

hr{
  border: none;
  border-bottom: 2px solid #bfbfc2;
}
  
#menuTagCloud a{
  display:list-item;
  list-style:none;
  padding:5px 0;
  color:#FF2F63;
}

#theCommentsPage .filter, #theCommentsPage #comments{
  max-width:1000px;
  margin:0 auto;
  padding-bottom:15px;
}

#theSearchPage .filter{
  max-width:1000px;
  margin:0 auto;
}

#theSearchPage fieldset legend{
  color:black;
}

#pictureComments #commentAdd{
  width:49%;
}

.filter fieldset label{
  color:black;
}

/*.filter input, .filter input:focus,*/.selectize-input > input,INPUT[type="text"], INPUT[type="password"], SELECT, TEXTAREA{
  background-color:#e8e8ea!important;
  border-radius:5px !important;
  color:black;
  border:0;
  padding:10px;
  cursor:pointer
}

.selectize-input, .selectize-input.focus, .selectize-dropdown, .selectize-input input{
  -webkit-border-radius:5px;
  box-shadow:none;
  border:0;
  padding:10px;
  background-color:#e8e8ea;
  color:black;
  cursor:pointer
}

INPUT, SELECT{
  font-size:13px;
  padding:10px;
  cursor:pointer
}
.date_today{
  font-weight:normal;
  color:black;
}

.date_today:hover{
  font-weight:normal;
  color:#FF2F63;
}
  
#start_day, #start_month, #end_day, #end_month {
  background-color: #e8e8ea;
  padding: 10px;
  border-radius: 5px;
  color:black;
}

#theIdentificationPage legend{
  display:none;
}



.filter select{
  background-color: #e8e8ea;
  padding: 10px;
  border-radius: 5px;
  color:black;
  border:0;
}

.contact input[type="text"], .contact textarea, .contact select{
  border-radius:5px;
  padding:10px;
  background-color:#e8e8ea;
  color:black;
  font-family: 'Open Sans', sans-serif;
}

.contact table td, .contact table td.title {
  padding-right:10px;
}

.contact table td.title{
  padding-top:10px;
}

.contact table tbody tr:first-child td:nth-child(2),.contact table tbody tr:nth-child(2) td:nth-child(2){
  padding-top:10px;
}


.properties SPAN.property{
  padding: 0 10px 0 0;
}

.properties fieldset ul li:nth-child(3) span,.properties fieldset ul li:nth-child(4) span,.properties fieldset ul li:nth-child(5) span{
  padding-top:5px;
}
  
.wide #theImage{
  margin-bottom:5px;
}

#theImage{
  padding-bottom:20px;
}
  
.wide .navThumb img, .wide .navThumb, .wide .thumbHover{
  width:100px ; 
  height:auto ;
}
  
.wide .thumbHover:hover{
  text-decoration:none;
}

.navThumb img{
  width:100px ;
  height:auto ;
}

.wide .navThumbs{
  min-width: 215px;
}

h2 .calendarTitle{
  margin:0 15px;
  display:block;
}

.titrePage calendarTitleBar{
  height:auto;
}

.calendarBar{
  display:inline-block;
}

.content .navigationBar, .content .additional_info, .content .calendarBar{
  padding:15px 16px;
  display:block;
  margin:auto;
  text-align:center;
}

.calItem{
  padding:10px;
  font-weight:bold;
  border:1px solid #FF2F63;
}

.calItem a, .calItem:hover{
  color:#FF2F63;
}
  
.calItem:hover{
  text-decoration:underline !important;
  font-weight:bold;
}

.content .navigationBar, SPAN.calItem, TD.calDayCellEmpty, .content .navigationBar:hover, SPAN.calItem:hover, TD.calDayCellEmpty:hover{
  color:#8e8e93;
  padding:10px;
  text-decoration:none !important;
  border:none;
}

.content .pageNumberSelected{
 font-style:normal; 
}

.albThumbs{
  margin-top:0;
}

#linkPrev, #linkNext{
  margin:5px;
}

.commentsList {
  margin:0;
}

DIV.thumbHover, DIV.thumbHover:hover{
  color:black;
  height:100px !important;
  width:100px;
  font-weight:normal;
  border-radius:5px;
}

.thumbnailCategory{
  border:none;
}

#fullTagCloud{
  max-width:1000px;
  margin:0 auto;
  padding-bottom:15px;
  text-align:center;
  padding-top:50px;
  position:relative;
}

#fullTagCloud span a{
  margin-left:5px;
  color:black; 
  
}

#fullTagCloud span a:hover{
  text-decoration:none;
  color:#FF2F63;
}


FIELDSET.tagLetter{
  padding:15px 10px;
  width:180px;
  margin:15px;
}

LEGEND.tagLetterLegend, FIELDSET.tagLetter{
  border:none;
  color:black;
}

LEGEND.tagLetterLegend{
  padding:0;
  font-weight:bold;
  font-size:30px;
}

TABLE.tagLetterContent{
  border-collapse:separate;
  border-spacing: 5px;
  margin-top:-10px;
}

.tagLine td a{
  font-size:12px;
  color:black;
}

.tagLine td a:hover{
  color:#FF2F63;
}

.tagLevel1{
  font-size:75% !important;
}

.tagLevel2{
  font-size:100% !important;
}
.tagLevel3{
  font-size:125% !important;
}
.tagLevel4{
  font-size:150% !important;
}

.tagLevel5{
  font-size:175% !important;
  color:#FF2F63!important;
}

td .nbEntries{
  width:50px;
  background-color:#fff;
  border:solid 1px #eee;
  padding: 0;
  margin:5px;
  color:#bbb ;
  text-align:center;
}

.totalImages{
  border-top:solid 2px #bfbfc2;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left:solid 1px #333333;
}

#thePopuphelpPage{
  margin:0 15px;
}

#lostPassword{
  max-width:1000px;
  margin:0 auto;
}

.message{
  background-color:#e8e8ea;
}

.notification{
  max-width:1000px;
  margin:0 auto;
}

.notification a{
  text-decoration:none;
  color:black;
  font-weight:normal;
}

.notification a:hover{
  color:#FF2F63;
}


form.properties a{
  border:solid 1px ;
  border-radius:5px;
  padding:2px 5px 5px 2px;
  margin: 0 5px;
}

@media screen and (max-width: 640px){
  #menubar{
    box-shadow:none;
    padding:20px;
    border-radius:5px;
  }
  #mbCategories dd:onclick{
    dissplay:block;
  }
  #copyright a{
    display:block;
    color:black;
  }
  #menuSwitcher{
    padding-top:22px;
    padding-left:10px;
  }
  #derivativeSwitchLink .pwg-icon pwg-icon-sizes{
    color:black;
  }
  .pwg-icon pwg-icon-ellipsis{
    display:none;
    color:transparent;
    opacity:0;
  }
   #thumbnails>li{
    display:block !important;
  }
  #albumActionsSwitcher + .categoryActions .pwg-button-text,#imageToolBar .actionButtons .pwg-button-text, #imageToolBar .actionButtons .pwg-button-text, .actionButtons A .pwg-icon,  .actionButtons A .pwg-icon:hover {
    color:black !important;
  }
  #albumActionsSwitcher + .categoryActions{
    border-radius:5px;
    box-shadow:0px 0px transparent;
  }
  .categoryActions a .pwg-icon{
    color:#FF2F63;
  }
  fieldset ul{
    display:block;
    float:none;
  }
  #thePicturePage #pictureCommentList{
    float:left;
    width:100%;
  }
  #pictureComments #commentAdd{
    width:100%;
  }
  
  #menubar dl{
    padding:5px 0;
  }
  DIV.thumbHover{
    max-width:60px;
    height :auto !important;
    font-size:10px;
  }
  #profile{
    text-align:center;
  }
  .properties SPAN.property{
    width:40%;
  }
  .calItem{
    padding-bottom: 10px;
    display: inline-block;
    width: 70px;
  }

  #fullTagCloud{
    transform: none;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding:15px;
  }
  #theTagsPage A .pwg-icon, #theTagsPage A:hover .pwg-icon{
    color:#FF2F63;
  }
  .pwg-icon{
    font-size:20px;
  }
  .actionButtonsWrapper .actionButtons{
    box-shadow:none;
  }
  .imageInfoTable{
    padding:5px;
  }
  
}
@media screen and (max-width: 1100px){
  #fullTagCloud{
    transform: none;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding:15px;
  }
} 

@media screen and (max-height: 490px){
   #fullTagCloud{
    transform: none;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding:15px;
  }
}


