body {
  background-color:white;
  color:black;
}

#theHeader div.banner, #theHeader div.banner:hover{
  color:white;
}

#copyright{
  color:#666;
  background-color:#f9f9f9;
}

#copyright A{
  color:#666;
}

.infos{
  background:#096a09 url(/themes/default/icon/infos.png) no-repeat center right;
  color:white;
}

h2{
  color:black;
}

.albLegend{
  color:white;
}

H3, label{
  color:#000000;
}

A{
  color:#000000;
}

a:hover{
  text-decoration:underline;
  font-weight:normal;
  color:black;
}

#menubar{
  background-color:#2D2D2D;
}

#comentAdd INPUT[type="text"], INPUT[type="password"], #comentAdd SELECT, #comentAdd TEXTAREA, #comments input[type="text"], #comments TEXTAREA{
  background-color:#2D2D2D;
  color:white;
}

::placeholder, #commentAdd ::placeholder {
  color:#d6d6d6;
}

#qsearchInput{
  border:1px solid #fff;
  color:white;
}

.selectize-control.multi .selectize-input [data-value].active,
.selectize-control.multi .selectize-input > div{
  background-color:#777 ;
  color:#ddd;
}

.selectize-input{
  background-color: #363636;
  color: white;
  border:none;
  border-radius:0;
}

.selectize-control .plugin-remove_button [data-value] .remove{
  border-left-color:#333333;
}

#menubar DT,
#menubar DT A,
#thePicturePage .titrePage h2,
#thePicturePage .titrePage A,
#thePicturePage .browsePath,
fieldset h3,
dt,
dd,
.switchBox,
.switchBox a,
.imageInfoTable a,
.imageInfoTable a:hover,
.wide .imageInfoTable,
.wide #imageInfos a,
.wide #imageInfos h3,
#imageHeaderBar .imageNumber {
  color:white;
}

fieldset label{
  color:black;
}

#menubar DD{
  background-color:#383838;
  color:white;
  box-shadow:none;
}

#menubar DD A{
  color:white;
  text-decoration:none;
  font-size:15px;
}

#menubar DD A:hover{
  text-decoration:underline;
}

INPUT[type="button"],
INPUT[type="submit"],
INPUT[type="reset"],
#menubar INPUT{
  color:white;
}

INPUT[type="submit"] {
  background-color: #383838;
  color: white;
}

.wide #imageToolBar{
  background-color:white;
}

.badge{
  background-color: #777;
  border-radius:0px!important;
  color:#ddd;
}

.wide .imageInfoTable,
.wide #imageInfos{
  background-color:#2D2D2D;
}

#imageInfos{
  background-color:#2D2D2D;
  color:white;
}

A .pwg-icon {
  color:#000000;
}

#quickconnect input:focus,
#quickconnect input,
.properties input,
.properties input:focus {
  color:white;
  background-color:#2d2d2d;
}

.properties input, .properties input:focus {
  background-color:#2D2D2D;
  color:white;
}

fieldset legend{
  color:white;
}

.titrePage{
  background-color:white;
  color:black;
}

.titrePage H2 A,
#imageHeaderBar H2{
  color:black;
  text-shadow:none;
}


.titrePage H2 span.badge {
  background-color: #777;
  color: #fff;
}

.titrePage A,
#calendarViewSwitchLink,
.browsePath,
#profile,
#profile fieldset h3,
#profile fieldset label,
.properties fieldset span label {
  color:black;
}

#thePicturePage .titrePage{
 background-color: #2D2D2D;
}

.switchBoxTitle{
  border-bottom: 2px solid #555;
}

#comments input[type='text'],
#comments textarea{
  background-color:#2D2D2D;
  color:white;
}

.overDesc{
  background-color:rgba(0,0,0,0.6)
}

.commentsList,
.commentsList a {
  color:black;
}

.commentElement{
  background-color:#e7e7e7;
}

hr{
  border-bottom: 2px solid #555;
}

#theSearchPage fieldset legend {
  color:black;
}


.filter input,
.filter input:focus,
.selectize-input > input,
INPUT[type="text"],
INPUT[type="password"],
SELECT,
TEXTAREA{
  background-color:#363636 ;
  color:white;
}

.date_today:hover{
  color:black;
}

#start_day,
#start_month,
#end_day,
#end_month {
  background-color: #363636;
  color:white;
}

.filter select{
  background-color: #363636;
  color:white;
}

.contact input[type="text"],
.contact textarea,
.contact select{
  background-color:#383838;
  color:white;
}

.calItem,
.calItem:hover{
  color:black;
  border:1px solid black;
}

.content .navigationBar,
SPAN.calItem,
TD.calDayCellEmpty,
content .navigationBar:hover,
SPAN.calItem:hover,
TD.calDayCellEmpty:hover{
  color:#777;
  border:1px solid #777;
}

.content .navigationBar,
.content .navigationBar:hover {
  border: none;
}

DIV.thumbHover{
  color:white;
  border: 1px solid white;
}

#fullTagCloud span a{
  color:black;
}

#fullTagCloud span a:hover{
  text-decoration:underline;
}

LEGEND.tagLetterLegend,
FIELDSET.tagLetter{
  border:none;
  color:black;
}

td .nbEntries{
  background-color:#fff;
  border:solid 1px #eee;
  color:#bbb ;
}

.totalImages{
  border-top:solid 2px #555;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left:solid 1px #333333;
}

.message{
  background-color:#363636;
}

.notification a{
  text-decoration:underline;
}

@media screen and (max-width: 640px){
  #derivativeSwitchLink .pwg-icon pwg-icon-sizes{
    color:white;
  }
  #albumActionsSwitcher + .categoryActions .pwg-button-text,#imageToolBar .actionButtons .pwg-button-text
   #imageToolBar .actionButtons .pwg-button-text,
   .actionButtons A .pwg-icon,
   .actionButtons A .pwg-icon:hover {
    color:white ;
  }
  .categoryActions a .pwg-icon{
    color:white ;
  }

  #theTagsPage A .pwg-icon,
  #theTagsPage A:hover .pwg-icon{
    color:black ;
  }
}

/* Multi criteria search */

.ClosePopIn:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.mcs-container .filter-manager-controller-container label {
  cursor: pointer;
}

.mcs-no-result {
  margin: 30vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mcs-no-result .text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  max-width: 350px;
  text-align: center;
}
.mcs-no-result .text span:first-child{
  font-size: 18px;
  font-weight: 700;
  color: #ff7700;
  margin: 0 0 15px 0;
}
.mcs-no-result .text span:last-child{
  font-size: 15px;
  font-weight: 500;
  color: #6e6e6e;
}

.filter-form .filter-form-title {
  color: #ff7700;
  font-weight: bold;
}

.filter-tag-form .selectize-control,
.filter-author-form .selectize-control,
.filter-added_by-form .selectize-control {
  margin-top: 10px;
}

.filter-tag-form .selectize-input,
.filter-author-form .selectize-input,
.filter-added_by-form .selectize-input {
  background: #eee;
  border-radius: 5px;
  padding: 5px;

  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.filter-tag-form .selectize-input input,
.filter-author-form .selectize-input input,
.filter-added_by-form .selectize-input input {
  background: transparent;
  color: #444;
  height: 16px;
  padding: 0;
  height: 26px;
}
.filter-tag-form .selectize-input input::placeholder,
.filter-author-form .selectize-input input::placeholder,
.filter-added_by-form .selectize-input input::placeholder {
  color: #444;
}

.filter-tag-form .selectize-control.multi .selectize-input > div,
.filter-tag-form .selectize-control.multi .selectize-input [data-value].active,
.filter-author-form .selectize-control.multi .selectize-input > div,
.filter-author-form .selectize-control.multi .selectize-input [data-value].active,
.filter-added_by-form .selectize-control.multi .selectize-input > div,
.filter-added_by-form .selectize-control.multi .selectize-input [data-value].active {
  background: #ffa835;
  color: black;
  padding: 2px 4px;
  border-radius: 5px;
  width: fit-content;
  gap: 5px;
  height: fit-content;
}
.filter-tag-form .selectize-control.multi .selectize-input > div .remove,
.filter-author-form .selectize-control.multi .selectize-input > div .remove,
.filter-added_by-form .selectize-control.multi .selectize-input > div .remove {
  text-decoration: none;
  border: none;
  margin: 0 0 0 10px;
}

.filter-tag-form .selectize-dropdown,
.filter-author-form .selectize-dropdown,
.filter-added_by-form .selectize-dropdown {
  background: #eee;
  padding: 0;
  max-height: 100px;
  overflow-y: scroll;
  position: absolute;
}
.filter-tag-form .selectize-dropdown .option,
.filter-author-form .selectize-dropdown .option,
.filter-added_by-form .selectize-dropdown .option {
  padding: 0 5px;
}
.filter-tag-form .selectize-dropdown .option.active,
.filter-author-form .selectize-dropdown .option.active,
.filter-added_by-form .selectize-dropdown .option.active {
  background: #ccc;
  border-radius: 5px;
}

.filter-tag-form .form-container,
.filter-author-form .form-container,
.filter-added_by-form .form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.linkedAlbumPopInContainer {
  background-color: white;
}
.breadcrumb-item {
  background-color: #f4ab4f;
}
.breadcrumb-item .icon-cancel-circled:hover {
  color: #ff7700;
}

.filter .mcs-icon.remove-filter {
  display: none;
}

.filter:hover .mcs-icon.remove-filter {
  display: block;
}

.filter:hover .mcs-icon.filter-icon {
  display: none;
}

.filter-validate .loading {
  display: none;
}

.filter-album-form .add-album-button {
  width: fit-content;
}